name: Build Level 1

on:
  schedule:
    - cron: '0 0 * * 4' # Every Thursday at 00:00 UTC
  workflow_dispatch:
    inputs:
      push-images:
        description: "Push built images to registries"
        required: true
        type: boolean
        default: false

jobs:
  build-bash-deb:
    uses: ./.github/workflows/build-bash-deb.yml
    secrets:
      PUBLISH_TO_GITHUB_REPO_TOKEN: ${{ secrets.PUBLISH_TO_GITHUB_REPO_TOKEN }}
      REGISTRY_PASSWORD_DOCKER: ${{ secrets.REGISTRY_PASSWORD_DOCKER }}
    with:
      push-images: ${{ inputs.push-images || false }}

  build-bash-rpm:
    uses: ./.github/workflows/build-bash-rpm.yml
    secrets:
      PUBLISH_TO_GITHUB_REPO_TOKEN: ${{ secrets.PUBLISH_TO_GITHUB_REPO_TOKEN }}
      REGISTRY_PASSWORD_DOCKER: ${{ secrets.REGISTRY_PASSWORD_DOCKER }}
    with:
      push-images: ${{ inputs.push-images || false }}

  build-jdk21:
    uses: ./.github/workflows/build-jdk21.yml
    secrets:
      PUBLISH_TO_GITHUB_REPO_TOKEN: ${{ secrets.PUBLISH_TO_GITHUB_REPO_TOKEN }}
      REGISTRY_PASSWORD_DOCKER: ${{ secrets.REGISTRY_PASSWORD_DOCKER }}
    with:
      push-images: ${{ inputs.push-images || false }}

  build-nodejs24:
    uses: ./.github/workflows/build-nodejs24.yml
    secrets:
      PUBLISH_TO_GITHUB_REPO_TOKEN: ${{ secrets.PUBLISH_TO_GITHUB_REPO_TOKEN }}
      REGISTRY_PASSWORD_DOCKER: ${{ secrets.REGISTRY_PASSWORD_DOCKER }}
    with:
      push-images: ${{ inputs.push-images || false }}

  build-python314:
    uses: ./.github/workflows/build-python314.yml
    secrets:
      PUBLISH_TO_GITHUB_REPO_TOKEN: ${{ secrets.PUBLISH_TO_GITHUB_REPO_TOKEN }}
      REGISTRY_PASSWORD_DOCKER: ${{ secrets.REGISTRY_PASSWORD_DOCKER }}
    with:
      push-images: ${{ inputs.push-images || false }}

  build-jupyter-ai:
    uses: ./.github/workflows/build-jupyter-ai.yml
    secrets:
      PUBLISH_TO_GITHUB_REPO_TOKEN: ${{ secrets.PUBLISH_TO_GITHUB_REPO_TOKEN }}
      REGISTRY_PASSWORD_DOCKER: ${{ secrets.REGISTRY_PASSWORD_DOCKER }}
    with:
      push-images: ${{ inputs.push-images || false }}

  build-go:
    uses: ./.github/workflows/build-go.yml
    secrets:
      PUBLISH_TO_GITHUB_REPO_TOKEN: ${{ secrets.PUBLISH_TO_GITHUB_REPO_TOKEN }}
      REGISTRY_PASSWORD_DOCKER: ${{ secrets.REGISTRY_PASSWORD_DOCKER }}
    with:
      push-images: ${{ inputs.push-images || false }}